In [11]:
import os
import sys
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import tqdm.auto as tqdm

In [12]:
directory = "../Data/FrequencySweep_3.9_copy/"
index = pd.read_csv(os.path.join(directory, "index.dat"), 
                    sep=" ", names = ["file", "h", "tilt"])

In [13]:
index

                                       file    h  tilt
0    Tilt_2.0_deg_h3899_2019_09_25_17_17_30  3.9   2.0
1   Tilt_16.5_deg_h3899_2019_09_25_17_17_30  3.9  16.5
2    Tilt_4.5_deg_h3899_2019_09_25_17_17_30  3.9   4.5
3    Tilt_1.5_deg_h3899_2019_09_25_17_17_30  3.9   1.5
4   Tilt_14.0_deg_h3899_2019_09_25_17_17_30  3.9  14.0
..                                      ...  ...   ...
56  Tilt_21.5_deg_h3899_2019_09_25_22_47_59  3.9  21.5
57  Tilt_18.5_deg_h3899_2019_09_25_22_47_20  3.9  18.5
58  Tilt_29.5_deg_h3899_2019_09_25_22_49_03  3.9  29.5
59  Tilt_24.5_deg_h3899_2019_09_25_22_48_17  3.9  24.5
60  Tilt_19.0_deg_h3899_2019_09_25_22_47_45  3.9  19.0

[61 rows x 3 columns]

In [22]:
data = pd.read_csv(os.path.join(directory, index.iloc[0].file+"_vupdown.dat"), 
           sep = "\t")

    plane  frequency         x         y
0    down      0.125  0.081304  0.136209
1    down      0.250 -0.172325 -0.191785
2    down      0.375 -0.142345  0.311106
3    down      0.500 -0.027662  0.348198
4    down      0.625 -0.314085  0.088447
..    ...        ...       ...       ...
115    up      7.000 -0.026581 -0.240901
116    up      7.125 -0.067764 -0.081575
117    up      7.250  0.019132 -0.177440
118    up      7.375 -0.071162 -0.044905
119    up      7.500 -0.038532 -0.035737

[120 rows x 4 columns]